.Window {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 5vh;
}
.Img {
  width: 100%;
}
.Window img {
  min-width: 90%;
  height: 50vw;
  margin: auto;
  cursor: pointer;
}

.Window p {
  height: 50px;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
}
/* @media screen and (max-width: 490px) {
  .Window {
    width: 50%;
  }
} */
