.Film {
  z-index: -100;
  width: 100%;
  height: auto;
  padding: 10rem 0;
  border-radius: 15%;
  color: white;
  font-size: 3vw;
  /* position: relative; */
}
.Film h2 {
  font-size: 1.5rem;
}

.FilmWithOptions img {
  width: 75%;
  height: 20rem;
  left: 10vw;
}

.firstPart {
  margin: 0 auto;
  width: 80%;
  height: auto;
  display: block;
}
.FilmWithOptions {
  width: 80%;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.secondPart {
  width: 80%;
  margin: 5vw auto;
}
.secondPart a {
  color: rgb(190, 178, 178);
}
.Text {
  max-height: 20rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.Text h1 {
  margin: 0 auto;
  padding: 10px 0 5px 0;
}
.Text p {
  height: auto;
  text-align: left;
  margin: 5px 15px 0 15px;
}
.Rating {
  padding: 10px 0 10px 0px;
}

@media screen and (min-width: 750px) {
  .FilmWithOptions img {
    min-width: 20rem;
    height: 30rem;
  }
  .Film {
    font-size: 1rem;
  }
  .firstPart {
    display: flex;
  }
  .FilmWithOptions {
    width: 27rem;
  }
  .Text {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .Film {
    margin: 5vw auto auto auto;
    font-size: 1rem;
    margin-top: 12rem;
  }
}
@media screen and (max-width: 490px) {
  .Film img {
    width: 75%;
    height: 35vh;
  }
  .firstPart {
    display: block;
  }
  .Text {
    width: 100%;
  }
  .Film {
    font-size: 3.5vw;
    padding: 4rem 0;
  }
}
